# 十分钟搞定pandas

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 创建对象

### 创建序列Series

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])  #使用list创建一个Series，空值采用np.nan

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 创建DataFrame

In [6]:
dates = pd.date_range("20130101",periods=6)  #生成一个个DatetimeIndex对象

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

+ 使用一个6*4的随机数矩阵作为data，使用一个DatetimeIndex作为Index，使用一个list作为列，创建一个DataFrame

In [15]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list("ABCD"))

In [12]:
df

                   A         B         C         D
2013-01-01 -0.744574  1.398377  1.532904  1.340027
2013-01-02 -0.386909 -2.451461 -0.243429  0.361930
2013-01-03  1.074162  1.227734 -1.731408 -0.799650
2013-01-04 -0.686775  1.216229  0.771774  1.098643
2013-01-05 -0.459108  0.525141 -0.213191 -0.870860
2013-01-06  0.222529 -0.347177 -1.842277 -0.772582

+ 使用传递一个能够被转换成类序列结构的字典对象来创建一个DataFrame

In [13]:
df2 = pd.DataFrame({"A":1.,
                    "B":pd.Timestamp("20130102"),
                    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
                    "D":np.array([3]*4,dtype="int32"),
                    "E":pd.Categorical(["test","train","test","train"]),
                    "F":"foo"})

In [14]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 查看数据

+ 查看前几条、后几条

In [20]:
df.head()

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044

In [23]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

+ 查看index、columns和values

In [25]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [28]:
df.values

array([[ 1.26855252,  1.43983419,  0.00668504, -1.24562187],
       [ 0.0138482 , -1.16140904, -0.83302738,  0.70901027],
       [-0.59926357, -0.32711404, -0.61409314,  0.71473482],
       [-0.4963589 , -0.06829521, -2.1533174 ,  1.67077936],
       [-1.30601368, -1.07426778, -0.9392729 ,  0.66904372],
       [ 0.69180892, -0.60781371, -0.21262372,  0.80498579]])

In [35]:
df

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

+ 查看DataFrame统计信息

In [34]:
df.describe()  #查看dataframe的统计数据

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.071238 -0.299844 -0.790942  0.553822
std    0.934744  0.950548  0.759181  0.960409
min   -1.306014 -1.161409 -2.153317 -1.245622
25%   -0.573537 -0.957654 -0.912712  0.679035
50%   -0.241255 -0.467464 -0.723560  0.711873
75%    0.522319 -0.133000 -0.312991  0.782423
max    1.268553  1.439834  0.006685  1.670779

+ DataFrame行列转置

In [37]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.268553    0.013848   -0.599264   -0.496359   -1.306014    0.691809
B    1.439834   -1.161409   -0.327114   -0.068295   -1.074268   -0.607814
C    0.006685   -0.833027   -0.614093   -2.153317   -0.939273   -0.212624
D   -1.245622    0.709010    0.714735    1.670779    0.669044    0.804986

+ 按轴进行排序，横轴或者纵轴

In [39]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01 -1.245622  0.006685  1.439834  1.268553
2013-01-02  0.709010 -0.833027 -1.161409  0.013848
2013-01-03  0.714735 -0.614093 -0.327114 -0.599264
2013-01-04  1.670779 -2.153317 -0.068295 -0.496359
2013-01-05  0.669044 -0.939273 -1.074268 -1.306014
2013-01-06  0.804986 -0.212624 -0.607814  0.691809

In [41]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

In [42]:
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

In [40]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2013-01-06  0.691809 -0.607814 -0.212624  0.804986
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-01  1.268553  1.439834  0.006685 -1.245622

In [43]:
df

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

In [46]:
df.sort(columns="B",ascending=False)  #按列升序或者降序排列

E:\tools\anaconda2\envs\py3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-06  0.691809 -0.607814 -0.212624  0.804986
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-02  0.013848 -1.161409 -0.833027  0.709010

In [48]:
df.sort_values(by="A")

                   A         B         C         D
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-06  0.691809 -0.607814 -0.212624  0.804986
2013-01-01  1.268553  1.439834  0.006685 -1.245622

In [30]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
df2.tail(3)

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [29]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [32]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [33]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']], dtype=object)

In [36]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [38]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

## 选择

In [52]:
df

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

+ 利用切片获取

In [49]:
df["A"]

2013-01-01    1.268553
2013-01-02    0.013848
2013-01-03   -0.599264
2013-01-04   -0.496359
2013-01-05   -1.306014
2013-01-06    0.691809
Freq: D, Name: A, dtype: float64

In [50]:
df.A

2013-01-01    1.268553
2013-01-02    0.013848
2013-01-03   -0.599264
2013-01-04   -0.496359
2013-01-05   -1.306014
2013-01-06    0.691809
Freq: D, Name: A, dtype: float64

In [51]:
df["A"] == df.A

2013-01-01    True
2013-01-02    True
2013-01-03    True
2013-01-04    True
2013-01-05    True
2013-01-06    True
Freq: D, Name: A, dtype: bool

In [53]:
df[0:3]

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735

In [56]:
df["20130102":"20130105"]

                   A         B         C         D
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044

+ 利用标签获取

In [58]:
df.loc[dates[0]]

A    1.268553
B    1.439834
C    0.006685
D   -1.245622
Name: 2013-01-01 00:00:00, dtype: float64

In [60]:
df.loc[dates[1:3]]

                   A         B         C         D
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735

In [62]:
df.loc[:,["A","D"]]

                   A         D
2013-01-01  1.268553 -1.245622
2013-01-02  0.013848  0.709010
2013-01-03 -0.599264  0.714735
2013-01-04 -0.496359  1.670779
2013-01-05 -1.306014  0.669044
2013-01-06  0.691809  0.804986

In [63]:
df.loc["20130101":"20130104",["A","C","B"]]

                   A         C         B
2013-01-01  1.268553  0.006685  1.439834
2013-01-02  0.013848 -0.833027 -1.161409
2013-01-03 -0.599264 -0.614093 -0.327114
2013-01-04 -0.496359 -2.153317 -0.068295

In [64]:
df.loc[dates[0],"A"]

1.2685525189994777

In [65]:
df.at[dates[1],"B"]

-1.1614090437195654

In [66]:
df[df.A >0]

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

In [67]:
df[df>0]

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685       NaN
2013-01-02  0.013848       NaN       NaN  0.709010
2013-01-03       NaN       NaN       NaN  0.714735
2013-01-04       NaN       NaN       NaN  1.670779
2013-01-05       NaN       NaN       NaN  0.669044
2013-01-06  0.691809       NaN       NaN  0.804986

In [70]:
df3 = df.copy()

In [71]:
df3

                   A         B         C         D
2013-01-01  1.268553  1.439834  0.006685 -1.245622
2013-01-02  0.013848 -1.161409 -0.833027  0.709010
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044
2013-01-06  0.691809 -0.607814 -0.212624  0.804986

In [72]:
df3["G"] = ["one","two","four","five","three","six"]

In [73]:
df3

                   A         B         C         D      G
2013-01-01  1.268553  1.439834  0.006685 -1.245622    one
2013-01-02  0.013848 -1.161409 -0.833027  0.709010    two
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735   four
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779   five
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044  three
2013-01-06  0.691809 -0.607814 -0.212624  0.804986    six

In [75]:
df3[df3["G"].isin(["one","five"])]

                   A         B         C         D     G
2013-01-01  1.268553  1.439834  0.006685 -1.245622   one
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779  five

## 设置

In [76]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range("20130102",periods=6))

In [77]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [78]:
df3["E"] = s1

In [79]:
df3

                   A         B         C         D      G    E
2013-01-01  1.268553  1.439834  0.006685 -1.245622    one  NaN
2013-01-02  0.013848 -1.161409 -0.833027  0.709010    two  1.0
2013-01-03 -0.599264 -0.327114 -0.614093  0.714735   four  2.0
2013-01-04 -0.496359 -0.068295 -2.153317  1.670779   five  3.0
2013-01-05 -1.306014 -1.074268 -0.939273  0.669044  three  4.0
2013-01-06  0.691809 -0.607814 -0.212624  0.804986    six  5.0

In [82]:
df3.at[dates[0],"G"]="ten"

In [84]:
df3

,A,B,C,D,G,E,"(2013-01-01 00:00:00, G)"
2013-01-01,1.268553,1.439834,0.006685,-1.245622,ten,NaN,ten
2013-01-02,0.013848,-1.161409,-0.833027,0.709010,two,1.0,ten
2013-01-03,-0.599264,-0.327114,-0.614093,0.714735,four,2.0,ten
2013-01-04,-0.496359,-0.068295,-2.153317,1.670779,five,3.0,ten
2013-01-05,-1.306014,-1.074268,-0.939273,0.669044,three,4.0,ten
2013-01-06,0.691809,-0.607814,-0.212624,0.804986,six,5.0,ten

In [86]:
df3.loc[:,"D"] = np.array([5]*len(df3))

In [87]:
df3

,A,B,C,D,G,E,"(2013-01-01 00:00:00, G)"
2013-01-01,1.268553,1.439834,0.006685,5,ten,NaN,ten
2013-01-02,0.013848,-1.161409,-0.833027,5,two,1.0,ten
2013-01-03,-0.599264,-0.327114,-0.614093,5,four,2.0,ten
2013-01-04,-0.496359,-0.068295,-2.153317,5,five,3.0,ten
2013-01-05,-1.306014,-1.074268,-0.939273,5,three,4.0,ten
2013-01-06,0.691809,-0.607814,-0.212624,5,six,5.0,ten

In [89]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## 缺省值处理

In [91]:
df4 = df.reindex(index=dates[0:4],columns=list(df.columns)+"E")

TypeError: can only concatenate list (not "str") to list

## 合并

In [93]:
df5 = pd.DataFrame(np.random.randn(10,4))

In [94]:
df5

          0         1         2         3
0 -2.665147 -0.589897  0.472391 -0.352544
1 -0.564223  1.901479 -0.913064 -0.208696
2  0.345139  0.194217 -0.100871  0.047375
3  0.054551 -0.411856 -0.599774  0.828221
4  0.528380 -1.082425  1.569562  0.816407
5 -1.652952 -0.215514  0.646621  1.369042
6 -0.061175 -2.414427 -1.907087 -0.892530
7 -1.533446 -1.661275  1.850804 -1.677334
8  0.762838 -1.136755  1.345086 -1.380521
9  1.884166 -1.961126  1.475174 -1.411462